.chipSet {
  border-radius: 1rem;
  border: 1px solid black;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.delete {
  border: 1px solid blue;
  border-radius: 50%;
}

.delete:hover {
  cursor: pointer;
  background-color: wheat;
}