.container {
    width: 99%;
    height: 73px;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 0%;
    margin-bottom: 6%;
}


.scale {
    display: flex;
    flex-grow: 1;
}

.scale div {
    display: inline;
    height: 100%;
    /* border: 2px solid black; */
    flex-grow: 1;
}

.class1 {
    background-color: #799B3D;
    /* background-color: #3c78df; */
}

.class2 {
    /* background-color: #1d63db; */
    background-color: #8AADB4;
}

.class3 {
    /* background-color: #155ad0; */
    background-color: #F6CE3E;
}

.class4 {
    /* background-color: #0c4dbd; */
    background-color: #D28E7E;
}

.class5 {
    background-color: #9F3323;
    /* background-color: #10459f; */
}

.pointer {
    position: relative;
    left: 8.5%;
}

.heading {
    position: relative;
    left: 8.5%;
}

/* 8.5 26.5 46.5 68.5 87.5 */